
  <div class="row">
    <div class="col-xs-6" *ngIf="r1.nombre!=''">
        <img src="{{r1.foto}}" alt="...">
        <span id="gluten"><img *ngIf="r1.isGlutenFree"src='\assets\img\gluten_free_icon.png' alt="No libre de Gluten"/></span>
        <span id="gluten"><img *ngIf="!r1.isGlutenFree"src='\assets\img\gluten_icon.png' alt="Libre de Gluten"/></span>
    </div>
    <div class="col-xs-6" *ngIf="r1.nombre!=''">
        <section class="ingredientes">
            <h4><span class="badge">{{r1.ingredientes.length}}</span> Ingredientes</h4>
            <ol>
              <li *ngFor="let ing of r1.ingredientes">
                {{ing}}
              </li>
            </ol>
        </section>
    </div>
  </div>
  
  <div class="caption"*ngIf="r1.nombre!=''">
<h3>{{ r1.nombre| uppercase }}      
  <span class="cocinero">{{r1.cocinero}}</span>
  <span class="label label-primary">Likes {{r1.numeroLikes}}</span> 
  </h3>
  
    <p>{{r1.descripcion | slice:0:100}}...</p>

  </div>

