<div class="row">
        <div class="col-md-3">
           <br>
                <app-formulario></app-formulario>
           
        </div>
        <div class="col-md-9">
                <div>
                        <label for="singluten">
                        <span class="glutenInicio"><img *ngIf="glutenFilter"src='\assets\img\gluten_free_icon.png' alt="No libre de Gluten"/></span>
                        <span class="glutenInicio"><img *ngIf="!glutenFilter"src='\assets\img\gluten_icon.png' alt="Libre de Gluten"/></span>
                        Recetas con SIN gluten</label> <input [(ngModel)]="glutenFilter"  type="checkbox" name="singluten" id="singluten">
                    </div>
                <input [(ngModel)]="searchText" placeholder="Buscar Receta por Nombre, Cocinero o Ingredientes =D" id="busqueda"> <i class="fa fa-search" aria-hidden="true"></i>

                </div>

</div>
<div class="row">
    <div class="col-md-3 listado">
        <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Catalogo de recetas </h3>
                </div>
                <div class="panel-body panel-list-Recetario">
                   
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let receta of stock | filter : searchText :glutenFilter" [class.active]="receta1==receta"(click)="seleccionar($event, receta)">
                            
                            <span id="gluten"><img *ngIf="receta.isGlutenFree"src='\assets\img\gluten_free_icon.png' alt="No libre de Gluten"/></span>
                            <span id="gluten"><img *ngIf="!receta.isGlutenFree"src='\assets\img\gluten_icon.png' alt="Libre de Gluten"/></span>
                            <p class="pgluten"><i class="fa fa-book" aria-hidden="true"></i> {{receta.nombre}}</p>
                            <p class="pgluten"><i>{{receta.cocinero}}</i></p>
                                
                        </li>    
                      </ul>
                </div>
               
        </div>
        
    </div>   

    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Detalle de la receta </h3>
            </div>
            <div class="panel-body">
                
                <!-- llamda componente Hijo  -->
                <app-detalle-recetario [r1]="receta1" ></app-detalle-recetario>
               
            </div>
        </div>
    </div>    

</div>