
.panel-list-recetario{
    padding: 0;
    height: 50vh;
    overflow-y: scroll;
}
input{
    padding: 10px;
    margin-bottom: 2em;
    width: 90%;
}
.fa-search{
    font-size: 2em;
}
a:active{
    background-color: #3073AC;
}